@import "./base.css";

body {
  background: rgb(242, 241, 255);
  background: linear-gradient(
    90deg,
    rgba(252, 218, 255, 1) 0%,
    rgba(210, 248, 225, 1) 100%
  );
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: black;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

html,
body {
  scroll-behavior: smooth;
}
